.topnav {
  overflow: hidden;
  /* background-color: #e9e9e9; */
}

.topnav .search-container {
  float: right;
  font-style: sans-serif;
  width: auto;

}

.topnav input[type=text] {
  height: auto;
  padding: 6px;
  margin-bottom: 8px;
  font-size: 17px;
  border: none;

}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-bottom: 10px;
  margin-right: 16px;
  background:white;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #448abf ;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
   .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 10px solid #ccc;
  }
}


.btn-success {
   background-color: #65B688;
   border-color: #65B688;
   }
   .btn-danger {
   color: #fff;
   background-color: #d9534f;
   border-color: #d43f3a;
   }
   .btn {
   color: black;
   display: inline-block;
   margin-bottom: 0;
   font-weight: 400;
   text-align: center;
   vertical-align: middle;
   cursor: pointer;
   background-image: none;
   border: 1px solid transparent;
   white-space: nowrap;
   padding: 6px 12px;
   font-size: 14px;
   line-height: 1.42857143;
   border-radius: 4px;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   }
